# Environment
.env
.env.local
.env.*.local
*.env

# Но сохраняем примеры
!.env.exemple
!.env.example

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
venv/
.venv/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Logs
*.log
logs/

# OS
.DS_Store
Thumbs.db


# Uploads
backend/uploads/*
!backend/uploads/.gitkeep